* {
    box-sizing: border-box;
}

body {
    color: green;
    background-color:rgb(248, 228, 186);
}

header {
    background-color: rgb(247, 180, 35);    
    padding: 1rem 2rem;    
}

header h3 a {        
    font-variant: small-caps;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}

header h3 a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(197, 136, 3); 
}

#menu, footer, main {
    text-align: center;
}

nav {
    background-color: rgb(248, 211, 132);    
    padding: 1rem 2rem; 
}

#menu ul li, #property ul li {
    display: inline-block;
    width: 10rem;
    text-align: center;
    padding: 1rem;    
}

#menu ul li a{       
    padding: 1rem;
    font-size: 2rem;
    font-variant: small-caps;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35); 
}

#menu ul li a:visited {
    color: green;
}

h1 {
    text-align: center;    
    font-size: 2.5rem;
    margin-top: 2rem;
}

p {
    text-align: justify;
    max-width: 50vw;
    margin: 2rem auto;
    font-size: 2rem;    
}

#introduction img {
    width: 40vw;
    margin: 1rem;
}

#property ul li {
    border: 2px solid rgb(121, 9, 1);
    background-color: rgb(253, 127, 117);
    height: 5rem;
    width: 20vw;
    margin: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

button {
    background-color: aquamarine;
    margin: 2rem;
    padding: 1rem;    
}

/* WORKS */

.works img {
  width: 30vw;
  padding: 3rem;
}

.description {
    display: inline-block;
}

.description h3 a {
    font-size: 2rem;
    text-decoration: none;
}

.description h3 a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35); 
}

.description h3 a:visited {
    color: green;    
}

/* GALLERY */

#gallery img {
    width: 80vw;
    margin: 1rem auto;
}

