* {
    box-sizing: border-box;
}

body {
    color: green;
    background-color: rgb(248, 228, 186);
    font-size: 2rem;
    text-align: center;
}

main {
    max-width: 90%;
    margin: 0 auto;
}

.left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

/* HEADER,NAV */

header {
    background-color: rgb(248, 211, 132);    
}

nav {
    background-color: rgb(248, 211, 132);
}

#menu ul li{
    display: inline-block;
    width: 10rem;
    text-align: center;
    padding: 0;
}

#menu ul li a {       
    font-variant: small-caps;
}

#menu ul li a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35);
}

#menu ul li a:visited {
    color: green;
}

.cim{    
    text-align: left;    
}

/*HOME*/

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.introp {
    text-align: justify;
    max-width: 50vw;
    margin: 2rem auto;    
}

#introduction img {
    width: 40vw;
    margin: 1rem;
}

.property {
    border: 2px solid rgb(121, 9, 1);
    background-color: rgb(253, 127, 117);
    height: 5rem;
    width: 25vw;  
    margin:1rem;      
    text-transform: uppercase;
}

/* WORKS */

.works img {
    width: 45vw;
    padding: 3rem;
}

.description {
    padding: 5rem;
}

.description h3 a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35);
}

.description h3 a:visited {
    color: green;
}

article p {
    text-align: justify;    
}

/* GALLERY */

#gallery img {
    width: 80vw;
    margin: 1rem auto;
}

@media screen and (min-width: 600px) {
    #gallery img {
        width: 27vw;
        margin: 1rem;
    }
}

/* ABOUT */

#aboutImg {
    width: 17vw;
}

li{
    text-align: left;
}

.about{    
    display: inline-block;
    width: 40%;
}

/* FOOTER */

button {
    border-radius: 99em;
    font-size: 1rem;
    background-color: rgb(214, 252, 214);
    margin: 2rem;
    padding: 1rem;
}