* {
    box-sizing: border-box;
}
html {
    background-color: rgb(248, 211, 132);
}

body {
    color: green;
    background-color: rgb(248, 228, 186);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0,
}

main {
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    main {
        max-width: 90%;
    }
}

.left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

img {
    border: 3px solid white;
}

/* HEADER,NAV */

header {
    background-color: rgb(248, 211, 132);    
}

#menu ul li {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

@media screen and (min-width: 600px) {
    #menu ul li {
        width: 10rem;
    }
}

#menu ul li a {
    font-variant: small-caps;
    padding: 1rem;
    font-size: 2rem;
}

#menu ul li a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35);
}

#menu ul li a:visited {
    color: green;
}

.cim {
    text-align: left;
}

/*HOME*/

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.introp {
    text-align: justify;    
    margin: 2rem;
}

@media screen and (min-width: 600px) {
    .introp {        
        max-width: 50vw;
        margin: 2rem auto;
    }
}

#introduction img {
    width: 80vw;
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    #introduction img {
        width: 40vw;
    }
}

.property {
    border: 2px solid rgb(121, 1, 111);
    background-color: rgb(247, 219, 248);
    height: 5rem;
    width: 90%;
    margin: 1rem auto;
    padding-top: 1.5rem;
    text-transform: uppercase;    
}

@media screen and (min-width: 600px) {
    .property {
        width: 28%;
        padding-top: 1rem;
        margin: 1rem;
    }
}

/* WORKS */

.works img {
    width: 90vw;    
}

@media screen and (min-width: 600px) {
    .works img {
        width: 45vw;
        margin: 1rem;
    }
}

.description {
    padding: 5rem;
}

.description h3 a:hover {
    color: rgb(1, 63, 1);
    background-color: rgb(247, 180, 35);
}

.description h3 a:visited {
    color: green;
}

article p {
    text-align: justify;
}

/* GALLERY */

#gallery img {
    width: 80vw;
    margin: 1rem auto;
    box-shadow: 7px 7px 10px 10px rgba(1, 73, 1, 0.5);
}

@media screen and (min-width: 600px) {
    #gallery img {
        width: 27vw;
        margin: 1rem;
    }
}

/* ABOUT */

#aboutImg {
    width: 40vw;
}

@media screen and (min-width: 600px) {
    #aboutImg {
        width: 18vw;
    }
}

li {
    text-align: left;
    font-size: 1.3rem;
}

.about {
    display: block;    
}

@media screen and (min-width: 600px) {
    .about {
        display: inline-block;
        width: 40%;
    }    
}

input {
    height: 2rem;
    border: 1px solid green;
    margin-bottom: 1rem;
}

textarea {
    border: 1px solid green;
}

label {
    font-size: 1.5rem;
    text-align: left;
}

/* FOOTER */
footer {
    background-color: rgb(248, 211, 132);
}

button {
    border-radius: 99em;
    font-size: 1rem;
    background-color: rgb(214, 252, 214);
    margin: 2rem;
    padding: 1rem;
}